img{
    padding: 2px;
    border-radius: 20px;

}

.card-style{
    padding: 2px;
    border-radius: 20px;
    min-height: 220px ;
}

h5{
    font-size:  0.85em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}



.textFormat{

    font-size:4rem;
    font-style: italic;
    font-family:'Sedgwick Ave Display', cursive;
    font-weight:100;
}

#doodleTitle{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

.display-feature{
    
    display: none;

}
