img{
    padding: 2px;
    border-radius: 20px;

}

.card-style{
    padding: 2px;
    border-radius: 20px;
}

h5{
    font-size:  0.85em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
